.page--home {

  // https://css-tricks.com/snippets/css/complete-guide-grid/#aa-basics-browser-support
  .home__grid {}
  
  @include breakpoint-up(medium) {
    .painting-1 {
      flex-basis: 37%;
    }

    .painting-2 {
      flex-basis: 30.5%;
    }

    .painting-3 {
      flex-basis: 30%;
    }
  }
}
