---
layout: default
title: Welcome to the Portfolio of
description: 
permalink: /
body-class: home
meta-image: /assets/sculpture/only-strong-dodge-lg.jpg
---

<h1 class="u__sr-only">Elizabeth Keithline</h1>

<section class="g u__vertical__p">
  <div class="gc--md--3">
    <h2 class="u__text__center u__text__left--md">News</h2>
  </div>

  <div class="gc--md--9">
  {% assign newpost = site.posts.first %}
  {% if newpost.excerpt.size > 0 %}
    <p class="u__rhythm u__text__center u__text__left--md"><strong>{{ newpost.title }}</strong> — {{ newpost.excerpt }} <a class="btn" href="/news#{{ newpost.title | slugify }}">Read Full Post</a></p>
  {% else %}
    {% if newpost.content.size > 240 %}
    <p class="u__rhythm u__text__center u__text__left--md"><strong>{{ newpost.title }}</strong> — {{ newpost.content | markdownify | strip_html | truncatewords: 40 }}</p>
    <p class="u__text__center u__text__left--md"><a class="btn" href="/news#{{ newpost.title | slugify }}">Read Full Post</a></p>
    {% else %}
    <p class="u__rhythm u__text__center u__text__left--md"><strong>{{ newpost.title }}</strong> — {{ newpost.content }} </p>
    {% endif %}
  {% endif %}
  </div>
</section>

<section class="g u__vertical__pt">
  <div class="gc--md">
    <h2 class="u__text__center u__text__left--md">Recent Work</h2>
  </div>
  {% comment %}<div class="gc--md">
    <h3 class="u__text__center u__text__right--md"><a href="{% link _painting/sculpture-and-shadow.html %}">Shadow Paintings</a></h3>
  </div>{% endcomment %}
</section>

<section class="g u__vertical__pb g--nowrap--md home__grid">
  <div class="gc--6 gc--md--auto painting-1">
    <a href="{% link _painting/breaking-broken.html %}" class="ar" style="aspect-ratio: 1 / 1">
      <img src="/assets/recent/breaking-broken-unnamed.jpg" alt="" />
    </a>
  </div>
  <div class="gc--6 gc--md--auto painting-2">
    <a href="{% link _painting/breaking-broken.html %}" class="ar" style="aspect-ratio: 7 / 9">
      <img src="/assets/recent/Ocular_2024_acrylic-wood_14x11.jpg" alt="" />
    </a>
  </div>
  <div class="gc--12 gc--md--auto painting-3">
    <a href="{% link _painting/sculpture-and-shadow.html %}" class="ar" style="aspect-ratio: 1 / 2">
      <img src="/assets/recent/Through-Line-panel-7-Detail_2023.jpg" alt="" />
    </a>
  </div>
</section>

<section class="g u__vertical__p">
  <div class="gc--md--3">
    <h2 class="u__text__center u__text__left--md">About</h2>
  </div>
  <div class="gc--md--9">
    <p class="u__rhythm u__text__center u__text__left--md">Elizabeth Keithline’s work focuses on human self-extension in many forms. A weaver since the age of 14, in 1996 she invented a sculpture technique called “Lost Box.” She weaves wire around objects, then burns them out or peels them off, creating a wire memory.</p>
    <p class="u__text__center u__text__left--md"><a class="btn" href="{% link about.md %}#readmore">More about Elizabeth — Statement & Resumes</a></p>
  </div>
</section>

<section class="g u__vertical__pt u__no-js">
  <div class="gc--lg--3">
    <h2 class="u__text__center u__text__left--md">Instagram</h2>
    <p class="h4 u__text__center u__text__left--md"><a href="{{ site.instagram }}" target="_blank" title="Opens in a new window" rel="noopener noreferrer">@elizabethkeithline</a></p>
  </div>
  <div class="gc--lg--9">
    {% comment %}
      Authenticated February 29, 2024 at https://app.behold.so/
      Account with highchairdesignhaus@gmail.com as the email
      
      If this one changes, be sure to also change the one on the Contact page
    {% endcomment %}
    <div data-behold-id="r6O4eLonLfAdYUIFG1RP"></div>
  </div>
</section>
<script src="https://w.behold.so/widget.js" type="module"></script>
