---
layout: text
width: text
title: Public Art
description: ''
permalink: public-art/
body-class: public
---

<h1 id="public">Public Art</h1>

<section aria-describedby="public" class="g" markdown="0">
  <div class="gc--12">
    <figure class="">
      {% include picture.html filepath='assets/public/made-in-shade' alt="" %}
      <figcaption><i>Made in the Shade</i></figcaption>
    </figure>
  </div>

  <div class="gc--md--6 gc--lg--6">
    <figure class="">
      {% include picture.html filepath='assets/public/through-line' alt="" %}
      <figcaption><i>Through Line</i></figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc--lg--6">
    <figure class="">
      {% include picture.html filepath='assets/public/downtown-dreamtown' alt="" %}
      <figcaption><i>Downtown Dreamtown</i></figcaption>
    </figure>
  </div>

  <div class="gc--md--6 gc__push--lg--1 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='assets/public/two-boats' alt="" %}
      <figcaption><i>Two Boats</i></figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='assets/public/library-arch' alt="" %}
      <figcaption><i>Oxford Library Arch</i></figcaption>
    </figure>
  </div>

  <div class="gc__push--md--1 gc--md--10">
    <figure class="">
      <div class="ar" style="aspect-ratio: 821 / 461">
        <video class="video" controls="" preload="auto" width="821">
          <source src="https://s3.us-east-1.amazonaws.com/pem-org/video/modules/mp4/shadowtree_n.mp4" type="video/mp4">
          <p>Sorry! Your browser does not support the HTML5 video tag. <a href="{% link /assets/media/weave-video/weave-video.mp4 %}" download>You may download the MP4 video</a> and try to play it using a native player for your operating system.</p>
        </video>
      </div>
      <figcaption>The making of <i>Shadow Tree</i>, by the Peabody Essex Museum</figcaption>
    </figure>
  </div>
  
</section>
