// Navigations

// <header class="c c--max">
//   <a class="brand h2" href=".">{{ site.title }}</a>
//   <nav class="n n--top" aria-label="Primary">
//     <button class="n__toggler js-accordion" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
//       <span class="n__toggler__label">Menu</span>
//     </button>
//     <ul role="list">
//       <li><a href="#">Paintings</a></li>
//       <li class="n__social"><a href="#">Instagram</a></li>
//     </ul>

$nav-v-padding: 0.75rem;
$nav-h-padding: 0.5rem;

.brand {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  white-space: nowrap;

  // Bottom/Footer
  footer & {
    display: none;

    @include breakpoint-up(large) {
      display: block;
      text-align: center;
    }
  }
}

.n {
  text-align: center;

  // Any link
  a {
    padding: $nav-v-padding $nav-h-padding;

    @include breakpoint-up(large) {
      padding: 1.25rem 1rem
    }
  }

  li > a {
    background-color: transparent;

    @include hover-focus() {
      background-color: $color__link-bg;
    }

    @include breakpoint-up($mobile-to-desktop-nav) {
      @include hover-focus() {
        background-color: $white;
      }
    }

    &[aria-current="page"] {
      background-color: $white;
      color: palette('gray-700');
      cursor: default;
    }
  }

  // Button
  &__toggler {
    @include button-reset();
    background-color: transparent;
    margin-right: -1rem;
    padding: $nav-v-padding $nav-h-padding;
    transition: $transition;

    @include hover-focus() {
      background-color: $color__link-bg;
    }

    &[aria-expanded=true],
    &:active {
      background-color: $color__body-fg;
      color: $color__body-bg;
    }

    // Swap icons
    &[aria-expanded=false] {
      .close {
        @include hide;
      }
    }

    &[aria-expanded=true] {
      .navicon {
        @include hide;
      }
      .close {
        @include show(inline);
      }
    }

    &__label {
      white-space: nowrap;
    }

    // Breakpoint
    @include breakpoint-up($mobile-to-desktop-nav) {
      @include hide;
    }
  }

  // social
  &__social {

    // Hide adjacent social links in header and footer
    @include breakpoint-down($mobile-to-desktop-nav) {
      .s &__link {
        @include hide;
      }
    }

    // Hide social links from inside the navigations
    @include breakpoint-up($mobile-to-desktop-nav) {
      .h nav &__link,
      .f nav &__link {
        @include hide;
      }
    }

    // Hide inline labels of adjacent links visually
    @include breakpoint-up($mobile-to-desktop-nav) {
      .s &__label {
        @include sr-only;
      }
    }
  } // end &__social

  // Top header
  &--top {}

  // Bottom/Footer nav modifier
  &--bottom {

    a {
      text-align: center;
    }
  }

  // Both need to go horizontal
  // Breakpoint
  @include breakpoint-up($mobile-to-desktop-nav) {
    ul {
      // Negate the #mainmenu items
      box-shadow: none !important;
      padding-bottom: 0 !important;
      position: static !important;

      // Negate rules from the .aria-expand class
      opacity: 1 !important;
      max-height: unset !important;
      visibility: visible !important;

      // Now style the element for horizontal orientation
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 0 auto;
    }
  }
}

// Positioning the mainmenu for mobile
#mainmenu {
  background-color: $color__body-bg;
  box-shadow: 0 0.5rem 0.5rem rgba($black, 0.25);
  padding-bottom: $nav-v-padding;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: z(mainmenu);

  li {
    @include breakpoint-down($mobile-to-desktop-nav) {
      padding-top: $nav-v-padding;
    }
  }
}
