{%- assign meta_title = site.title -%}
{%- comment -%}Default: "Elizabeth Keithline"{%- endcomment -%}
{%- assign meta_title_trailer = site.title | prepend: ' | ' -%}
{%- comment -%}Default: "| Elizabeth Keithline"{%- endcomment -%}
{%- comment -%}If there is a page title value:{%- endcomment -%}
{%- if page.title -%}
  {%- assign meta_title = page.title | append: meta_title_trailer -%}
{%- endif -%}
{%- assign meta_description = site.description -%}
{%- if page.description -%}
  {%- assign meta_description = page.description -%}
{%- endif -%}
{%- if page.meta-image -%}
  {%- assign meta_image = page.meta-image -%}
{%- endif -%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>{{ meta_title }}</title>
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="description" content="{{ meta_description }}">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="{{ site.prod_url }}{{ site.baseurl }}{{ meta_image }}">

    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wdth,wght@84,300;84,540;100,200;100,342;100,540&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% link assets/css/main.scss %}?cb={{ 'now' | date: '%Y%m%f-%H%M' }}">

    <link rel="icon" href="{% link favicon.ico %}" sizes="any">
    <link rel="icon" href="{% link favicon.svg %}" type="image/svg+xml">
    <link rel="manifest" href="{% link site.webmanifest %}">
    <link rel="mask-icon" href="{% link safari-pinned-tab.svg %}" color="#291f19">
    <meta name="msapplication-TileColor" content="#291f19">
    <meta name="theme-color" content="#291f19">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BGDVBV384X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BGDVBV384X');
    </script>
  </head>
