// General global styles. Some override settings in USWDS

// Gutters: horizontal spacing
%fluid-gutter-p {
  @include fluid-units('padding-inline-start' 'padding-inline-end', $gutter-min, $gutter-max, $spacing__min-vw, $spacing__max-vw);
}

%fluid-gutter-ps {
  @include fluid-units('padding-inline-start', $gutter-min, $gutter-max, $spacing__min-vw, $spacing__max-vw);
}

%fluid-gutter-pe {
  @include fluid-units('padding-inline-end', $gutter-min, $gutter-max, $spacing__min-vw, $spacing__max-vw);
}

// Flexible gutter helper
%fluid-gutter-ms {
  @include fluid-units('margin-inline-start', $gutter-min, $gutter-max, $min-vw, $max-vw);
}

%fluid-gutter-me {
  @include fluid-units('margin-inline-end', $gutter-min, $gutter-max, $min-vw, $max-vw);
}

// Classes for left and right (start and end)
.u__gutter__p {
  @extend %fluid-gutter-p;
  
  &s {
    @extend %fluid-gutter-ps;
  }
  
  &e {
    @extend %fluid-gutter-pe;
  }
}

.u__gutter__m {
  
  &s {
    @extend %fluid-gutter-me;
  }
  
  &e {
    @extend %fluid-gutter-ms;
  }
}


// Vertical rhythm
%fluid-vertical-p {
  @include fluid-units(
    'padding-top' 'padding-bottom',
    $vertical-min,
    $vertical-max,
    $spacing__min-vw,
    $spacing__max-vw
  );
}

%fluid-vertical-pt {
  @include fluid-units(
    'padding-top',
    $vertical-min,
    $vertical-max,
    $spacing__min-vw,
    $spacing__max-vw
  );
}

%fluid-vertical-mt {
  @include fluid-units(
    'margin-top',
    $vertical-min,
    $vertical-max,
    $spacing__min-vw,
    $spacing__max-vw
  );
}

%fluid-vertical-pb {
  @include fluid-units(
    'padding-bottom',
    $vertical-min,
    $vertical-max,
    $spacing__min-vw,
    $spacing__max-vw
  );
}

%fluid-vertical-mb {
  @include fluid-units(
    'margin-bottom',
    $vertical-min,
    $vertical-max,
    $spacing__min-vw,
    $spacing__max-vw
  );
}

// Classes for top and bottom
.u__vertical__p {
  @extend %fluid-vertical-p;
  
  &t {
    @extend %fluid-vertical-pt;
  }
  
  &b {
    @extend %fluid-vertical-pb;
  }
}

.u__vertical__m {
  
  &t {
    @extend %fluid-vertical-mt;
  }
  
  &b {
    @extend %fluid-vertical-mb;
  }
}

// Zero out Spacing
.u__p {
  &t--0, &x--0 { padding-top: 0 !important; }
  &b--0, &x--0 { padding-bottom: 0 !important; }
  &s--0, &y--0 { padding-inline-start: 0 !important; }
  &e--0, &y--0 { padding-inline-end: 0 !important; }

  @include breakpoint-up(small) {
    &t--sm--0, &x--sm--0 { padding-top: 0 !important; }
    &b--sm--0, &x--sm--0 { padding-bottom: 0 !important; }
    &s--sm--0, &y--sm--0 { padding-inline-start: 0 !important; }
    &e--sm--0, &y--sm--0 { padding-inline-end: 0 !important; }
  }
  @include breakpoint-up(medium) {
    &t--md--0, &x--md--0 { padding-top: 0 !important; }
    &b--md--0, &x--md--0 { padding-bottom: 0 !important; }
    &s--md--0, &y--md--0 { padding-inline-start: 0 !important; }
    &e--md--0, &y--md--0 { padding-inline-end: 0 !important; }
  }
  @include breakpoint-up(large) {
    &t--lg--0, &x--lg--0 { padding-top: 0 !important; }
    &b--lg--0, &x--lg--0 { padding-bottom: 0 !important; }
    &s--lg--0, &y--lg--0 { padding-inline-start: 0 !important; }
    &e--lg--0, &y--lg--0 { padding-inline-end: 0 !important; }
  }
  @include breakpoint-up(x-large) {
    &t--xl--0, &x--xl--0 { padding-top: 0 !important; }
    &b--xl--0, &x--xl--0 { padding-bottom: 0 !important; }
    &s--xl--0, &y--xl--0 { padding-inline-start: 0 !important; }
    &e--xl--0, &y--xl--0 { padding-inline-end: 0 !important; }
  }
}

.u__m {
  &t--0, &x--0 { margin-top: 0 !important; }
  &b--0, &x--0 { margin-bottom: 0 !important; }
  &s--0, &y--0 { margin-inline-start: 0 !important; }
  &e--0, &y--0 { margin-inline-end: 0 !important; }

  @include breakpoint-up(small) {
    &t--sm--0, &x--sm--0 { margin-top: 0 !important; }
    &b--sm--0, &x--sm--0 { margin-bottom: 0 !important; }
    &s--sm--0, &y--sm--0 { margin-inline-start: 0 !important; }
    &e--sm--0, &y--sm--0 { margin-inline-end: 0 !important; }
  }
  @include breakpoint-up(medium) {
    &t--md--0, &x--md--0 { margin-top: 0 !important; }
    &b--md--0, &x--md--0 { margin-bottom: 0 !important; }
    &s--md--0, &y--md--0 { margin-inline-start: 0 !important; }
    &e--md--0, &y--md--0 { margin-inline-end: 0 !important; }
  }
  @include breakpoint-up(large) {
    &t--lg--0, &x--lg--0 { margin-top: 0 !important; }
    &b--lg--0, &x--lg--0 { margin-bottom: 0 !important; }
    &s--lg--0, &y--lg--0 { margin-inline-start: 0 !important; }
    &e--lg--0, &y--lg--0 { margin-inline-end: 0 !important; }
  }
  @include breakpoint-up(x-large) {
    &t--xl--0, &x--xl--0 { margin-top: 0 !important; }
    &b--xl--0, &x--xl--0 { margin-bottom: 0 !important; }
    &s--xl--0, &y--xl--0 { margin-inline-start: 0 !important; }
    &e--xl--0, &y--xl--0 { margin-inline-end: 0 !important; }
  }
}
