.u {

  &__lead {
    // font size in 4_elements/typography
  }

  &__infobox {
    background-color: $white;
    border: 1px solid $color__borders;
    border-radius: 4px;
    padding: 1.5rem 1rem;

    > * + * {
      margin-top: $vertical-rhythm;
    }

    @include breakpoint-up(large) {
      margin-inline-start: -2rem;
      margin-inline-end: -2rem;
      padding: 2rem;
    }
  }

  &__css-col {
    &--two {
      columns: 280px 2;
      column-gap: 2em;
    }
  }

  // Undecorated Lists
  &__undecorated {
    list-style: none;
    margin-left: 0;
  }

  &__list-space {
    li {
      margin-top: ($vertical-rhythm/2);
    }
  }

  &__sold {
    color: palette('brand-orange');
    font-variation-settings: $font-custom__sans__bold;
    margin: 0 0.75em;
  }
}
