// Define a "System" font stack for fallbacks
@font-face {
  font-family: 'System Sans';
  font-style: normal;
  font-weight: normal;
  src: local(".SFNSText-Light"),
       local("Roboto-Light"),
       local(".HelveticaNeueDeskInterface-Light"),
       local("Ubuntu Light"),
       local("Segoe UI Light"),
       local("DroidSans"),
       local("Tahoma");
  font-display: swap;
}

// Google fonts
// Anek+Latin:wdth,wght@84,300;84,540;100,200;100,300;100,342;100,540
$font-custom__sans__family: 'Anek Latin';
$font-custom__sans__cond-light: 'wdth' 84, 'wght' 300;
$font-custom__sans__cond-bold: 'wdth' 84, 'wght' 540;
$font-custom__sans__light: 'wdth' 100, 'wght' 200;
$font-custom__sans__regular: 'wdth' 100, 'wght' 342;
$font-custom__sans__regular--fallback: 300;
$font-custom__sans__bold: 'wdth' 100, 'wght' 540;

// Define the family and weights
$font-stack__sans: $font-custom__sans__family, 'System Sans', 'Segoe UI', sans-serif;
$font-stack__serif: serif;
$font-stack__mono: monospace;

$line-height__base: 1.5;
$line-height__tight: 1.25;
$line-height__loose: 1.625;

$kerning: .03125em;
