---
layout: default
title: '(The Air) As It Moves | Sculpture'
description: ''
permalink: sculpture/air-as-it-moves/
body-class: portfolio-item
---

<h1 class="u__text__center--md u__rhythm">(The Air) As It Moves</h1>

<section class="c--text">
  <div class="g">
    <div class="gc--md--6">
      <p >Curated by Viera Levitt, this was a site-specific solo installation that responded to the air flow of the University Art Gallery at Umass Dartmouth in New Bedford running from May – September, 2019.</p>
    </div>
    <div class="gc--md--6">
      <p>It ran during the inaugural Design Art Technology Massachusetts (<span class="u__abbr">DATMA</span>) Festival, titled Summer Winds. Participating artists included Spencer Finch, Renee Piechocki, Brandon Forrest Frederick, and Light Society.</p>
    </div>
  </div>
</section>

<section class="g equalize--sm">
  <div class="gc--sm equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/air-as-it-moves-01' alt="" %}
  </div>
  <div class="gc--sm equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/air-as-it-moves-02' alt="" %}
  </div>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <p><em>(The Air) As It Moves</em> used hanging wire objects to create a play of light and shadows as they moved in the air. These abstract shapes illustrated a “memory” of suspended skeletal, swaying wire beams and rafters that invited viewers to contemplate the invisible forces at work in their lives, forces seen only because of their ancillary activity, never directly. Viewers were invited to move through the gallery and, by doing so, gently activate the installation.</p>
    </div>
  </div>
</section>

<section class="g equalize--sm">
  <div class="gc--sm gc__push--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/air-as-it-moves-03' alt="" %}
  </div>
  <div class="gc--sm gc__pull--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/air-as-it-moves-04' alt="" %}
  </div>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <p>Throughout the summer, the walls were hung with paper and populated by traced shadows, which made it hard to distinguish the real from the drawn, creating a disorienting and off-balance feeling in homage to Salvador Dali’s sets for the movie <em>Cabinet of Dr. Caligari</em>. During <strong>AHA! Nights</strong>, the public was invited to trace the shadows and take their drawings home. The gallery also hosted performance artist Paula Hunter who danced to music written and performed by Jeff Keithline.</p>
    </div>
  </div>
</section>

<section class="g equalize--sm">
  <div class="gc--sm gc__push--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/air-as-it-moves-05' alt="" %}
  </div>
  <div class="gc--sm gc__pull--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/air-as-it-moves-06' alt="" %}
  </div>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <h2 class="h3">Press</h2>
      <ul class="u__undecorated u__list-space">
        <li><a href="https://artscopemagazine.com/2019/09/challenging-stereotypes-raquel-paiewonsky-in-new-bedford/" target="_blank" title="Open in new window" rel="noopener noreferrer">“Challenging Stereotypes: Raquel Paiewonsky In New Bedford,”</a> Ron Fortier, Artscope. September 6, 2019.</li>
        <li><a href="https://www.bostonglobe.com/arts/2019/08/15/city-wide-summer-winds-celebration-blows-through-new-bedford-with-art-exhibits-and-installations/v4oDdZoQxqN9aiwiTuC4QM/story.html" target="_blank" title="Open in new window" rel="noopener noreferrer">“City-wide ‘Summer Winds’ celebration blows through New Bedford with art exhibits and installations,”</a> Cate McQuaid, Boston Globe. August 15, 2019.</li>
        <li>“Wind-themed projects on display at UMass Dartmouth Star Store Campus,” South Coast Today, June 6, 2019. Archive available at <a href="https://web.archive.org/web/20190612195850/https://www.southcoasttoday.com/news/20190612/wind-themed-projects-on-display-at-umass-dartmouth-star-store-campus" target="_blank" title="Open in new window" rel="noopener noreferrer">Archive.org</a></li>
      </ul>
    </div>
  </div>
</section>

{% include subnav-sculpture.html %}
