---
layout: default
title: 'Sculpture'
description: 'A portfolio of sculptural, three-dimensional wire weaving in and out of gallery settings'
permalink: sculpture/
body-class: portfolio
---

<section class="g u__vertical__pt">
  <div class="gc--md--4">
    <h1 class="">Sculpture</h1>
  </div>
  <div class="gc--md--8">
    <h2 class="h3"><a href="{% link _sculpture/air-as-it-moves.html %}">(The Air) As It Moves</a></h2>
    <a href="{% link _sculpture/air-as-it-moves.html %}">
      {% include picture.html filepath='/assets/sculpture/air-as-it-moves-01' alt="" %}
    </a>
  </div>
</section>

<section class="g">
  <div class="gc--lg--1"></div>
  <div class="gc--md--7 gc--lg--6">
    <h2 class="h3"><a href="{% link _sculpture/only-strong-survive.html %}">Only The Strong Survive</a></h2>
    <a href="{% link _sculpture/only-strong-survive.html %}">
      {% include picture.html filepath='/assets/sculpture/only-the-strong-01' alt="" %}
    </a>
  </div>
  <div class="gc--md--5">
    <h2 class="h3"><a href="{% link _sculpture/smarter-faster-higher.html %}">Smarter, Faster, Higher</a></h2>
    <a href="{% link _sculpture/smarter-faster-higher.html %}">
      {% include picture.html filepath='/assets/sculpture/sfh-two-figures' alt="" %}
    </a>
  </div>
</section>

<section class="g">
  <div class="gc--md--8 gc--lg--7">
    <h2 class="h3"><a href="{% link _sculpture/lost-house.html %}">Lost House</a></h2>
    <a href="{% link _sculpture/lost-house.html %}">
      {% include picture.html filepath='/assets/sculpture/lost-house-01' alt="" %}
    </a>
  </div>
  <div class="gc--md--4 gc--lg--4">
    <h2 class="h3"><a href="{% link _sculpture/wire-sculpture.html %}">Wire Sculpture</a></h2>
    <a href="{% link _sculpture/wire-sculpture.html %}">
      {% include picture.html filepath='/assets/sculpture/small-works-01' alt="" %}
    </a>
  </div>
</section>