---
layout: default
title: 'Lost House | Sculpture'
description: 'A full-scale lost dwelling created by wrapping wire around wood forms and hanging them in the configuration of a home'
permalink: sculpture/lost-house/
body-class: portfolio-item
meta-image: assets/sculpture/lost-house-01-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Lost House</h1>

<section class="g">
  <div class="gc__push--md--1 gc--md--10">
    {% include picture.html filepath='assets/sculpture/lost-house-01' alt="" %}
  </div>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <p>The <em>Lost House</em> Project was a full-scale lost dwelling exhibited at the Newport Art Museum in fall 2005. It was reviewed in the Providence Phoenix, the Nov/Dec 2005 Fiber Arts Magazine, and the Dec 2005 Sculpture Magazine.</p>
    </div>
  </div>
</section>

<section class="g equalize--sm">
  <div class="gc--sm gc__push--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/lost-house-detail-1' alt="" %}
  </div>
  <div class="gc--sm gc__pull--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/lost-house-detail-2' alt="" %}
  </div>
</section>

<section class="g equalize--sm">
  <div class="gc--sm gc__push--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/lost-house-staircase' alt="" %}
  </div>
  <div class="gc--sm gc__pull--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/lost-house-doorknob' alt="" %}
  </div>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <h2 class="h3">Press</h2>
      <ul class="u__undecorated u__list-space">
        <li><a href="{% link assets/press/2005-12-00-lost-house-fiber-arts.pdf %}" download>“Elizabeth Keithline: Objects Lost and Found Again” (pdf)</a> Nancy Sausser, Fiber Arts. Nov/Dec 2005, Vol 32 Number 3.</li>
        <li><a href="{% link assets/press/2005-12-16-lost-house-phoenix.pdf %}" download>“Home is where… ‘Ourchitecture’ at the Newport Art Museum” (pdf)</a> Bill Rodriguez, Providence Phoenix. December 16–22, 2005.</li>
        <li><a href="{% link assets/press/2006-04-03-ourchitecture-ANE.pdf %}" download>“Ourchitecture: The Lost House Project & Elizabeth Keithline” (pdf)</a> Doug Norris, Art New England. April/May, 2006.</li>
      </ul>
    </div>
  </div>
</section>

{% include_relative subnav-sculpture.html %}
