---
layout: default
title: 'Only The Strong Survive | Sculpture'
description: 'What is strength now? What happens when the dependence we’ve created begins to destroy us? Are animals, who will likely be here long after us, actually “stronger” than cars?'
permalink: sculpture/only-strong-survive/
body-class: portfolio-item
meta-image: assets/sculpture/only-the-strong-01-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Only The Strong Survive</h1>


<section class="c">
  <div class="g">
    <div class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
      <div class="ar" style="aspect-ratio: 837 / 471">
        <video class="video" controls="" preload="auto" poster="{% link assets/media/weave-video/weave-video-poster.jpg %}" width="837">
          <source src="{% link assets/media/weave-video/weave-video.mp4 %}" type="video/mp4">
          <source src="{% link assets/media/weave-video/weave-video.ogv %}" type="video/ogg">
          <p>Sorry! Your browser does not support the HTML5 video tag. <a href="{% link /assets/media/weave-video/weave-video.mp4 %}" download>You may download the MP4 video</a> and try to play it using a native player for your operating system.</p>
        </video>
      </div>
    </div>
  </div>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <p>The installation <em>Only The Strong Survive</em> focuses on how human self-extension affects the animal kingdom. It features a group of full-scale, woven wire animals facing off against a wire ’69 Dodge Charger.</p>
    </div>
  </div>
</section>

<section class="g equalize--sm">
  <div class="gc--sm equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/only-strong-overview' alt="Gallery view of the rear of the 1969 Dodge Charger with a group of wire animals in front of it" %}
  </div>
  <div class="gc--sm equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/only-the-strong-animals' alt="Detail of the group of animals — An aardvark, dog, ducks, horse, and a wild boar" %}
  </div>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <p>In the last hundred years, human beings have developed a reliance on the gasoline engine that was largely helpful until scientists confirmed the threat of global warming. <em>Only The Strong Survive</em> asks — What is strength now? What happens to us if the dependence that we’ve created shifts and begins to destroy us? Are animals, with their ability to replicate and to quickly return to the earth when they die, actually “stronger” than cars?</p>
    </div>
  </div>
</section>

<section class="g">
  <div class="gc__push--md--1 gc--md--10">
    {% include picture.html filepath='assets/sculpture/only-strong-dodge' alt="" %}
  </div>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <p><em>Only The Strong Survive</em> was shown at Wheaton College in 2013 and at Umass Amherst in 2014. Photo credits: Michele L’Heureux and Peter Goldberg.</p>
    </div>
  </div>
</section>

{% include_relative subnav-sculpture.html %}
