---
layout: default
title: 'Wire | Sculpture'
description: 'Various wire sculptures made by wrapping wire around objects and then burning the object, leaving only the “ghost” of wire behind'
permalink: sculpture/wire-sculpture/
body-class: portfolio-item
meta-image: assets/sculpture/wire-small-works-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Wire Sculpture (various)</h1>

<section class="g">
  <div class="gc__push--md--1 gc--md--10">
    {% include picture.html filepath='assets/sculpture/wire-squiggly' alt="" %}
  </div>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <p class="u__rhythm">These sculptures were made by weaving wire around a form and burning it out. Keithline invented this technique in 1990 and called it “Lost Box”, a play on the term <i>Lost Wax</i>.</p>
      <p>All photographs by Erik Gould.</p>
</p>
    </div>
  </div>
</section>

<section class="g equalize--sm">
  <div class="gc--sm gc__push--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/wire-plant-structure' alt="" %}
  </div>
  <div class="gc--sm gc__pull--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/wire-silver-01' alt="" %}
  </div>
</section>

<section class="g">
  <div class="gc--md--10 gc__push--md--1 gc--lg--8 gc__push--md--2">
    {% include picture.html filepath='assets/sculpture/wire-dissolute' alt="" %}
  </div>
</section>

<section class="g equalize--sm">
  <div class="gc--sm gc__push--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/wire-cradle' alt="" %}
  </div>
  <div class="gc--sm gc__pull--lg--1 equalize--sm__wrap">
    {% include picture.html filepath='assets/sculpture/wire-regeneration' alt="" %}
  </div>
</section>

<section class="g">
  <div class="gc--md--10 gc__push--md--1 gc--lg--8 gc__push--md--2">
    {% include picture.html filepath='assets/sculpture/wire-small-works' alt="" %}
  </div>
</section>

{% include_relative subnav-sculpture.html %}
