---
layout: default
title: 'Atmosphere | Painting'
description: ''
permalink: painting/atmosphere/
body-class: portfolio-item
meta-image: /assets/painting/atmosphere-03-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Atmosphere</h1>

<section class="c--text">
  <p class="u__text__center">Cast sand, layered and spray painted. Dimensions: 9" x 12". All paintings 2013. </p>
  <p class="u__text__center u__rhythm">Photographed by Peter Goldberg.</p>
</section>

<div class="g">
  <div class="gc--md--6 gc__push--lg--1 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='/assets/painting/atmosphere-03' alt="" %}
      <figcaption><i>Atmosphere III</i></figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='/assets/painting/atmosphere-04' alt="" %}
      <figcaption><i>Atmosphere IV</i></figcaption>
    </figure>
  </div>
</div>

<div class="g">
  <div class="gc--md--6 gc__push--lg--1 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='/assets/painting/atmosphere-06' alt="" %}
      <figcaption><i>Atmosphere VI</i></figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='/assets/painting/atmosphere-09' alt="" %}
      <figcaption><i>Atmosphere IX</i></figcaption>
    </figure>
  </div>
</div>

{% include_relative subnav-painting.html %}
