---
layout: default
title: 'Breaking Broken | Painting'
description: ''
permalink: painting/breaking-broken/
body-class: portfolio-item
meta-image: assets/painting/breaking-broken-04-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Breaking Broken</h1>

{% comment %}
<section class="c--text">
  <p class="u__text__center">Cast sand, layered and spray painted. Dimensions: 9" x 12". All paintings 2013. </p>
  <p class="u__text__center u__rhythm">Photographed by Peter Goldberg.</p>
</section>
{% endcomment %}

<div class="g">
  <div class="gc--md--6 gc__push--lg--1 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='assets/painting/breaking-broken-01' alt="" %}
      <figcaption><i>Breaking Broken I</i></figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='assets/painting/breaking-broken-03' alt="" %}
      <figcaption><i>Breaking Broken III</i></figcaption>
    </figure>
  </div>
</div>

<div class="g">
  <div class="gc--md--6 gc__push--lg--1 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='assets/painting/breaking-broken-04' alt="" %}
      <figcaption><i>Breaking Broken IV</i></figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='assets/painting/breaking-broken-05' alt="" %}
      <figcaption><i>Breaking Broken V</i></figcaption>
    </figure>
  </div>
</div>

<div class="g">
  <figure class="gc__push--sm--1 gc--sm--10 gc__push--md--2 gc--md--8 gc__push--lg--3 gc--lg--6">
    {% include picture.html filepath='assets/painting/breaking-broken-06' alt="" %}
    <figcaption><i>Breaking Broken VI</i></figcaption>
  </figure>
</div>

{% include_relative subnav-painting.html %}
