---
layout: default
title: 'Breaking Broken | Painting'
description: ''
permalink: painting/breaking-broken/
body-class: portfolio-item
meta-image: assets/painting/Keithline_Ruins_12-2024-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Breaking Broken</h1>

<div class="g">
  <div class="gc--md--6 gc__push--lg--1">
    <figure class="">
      {% include picture.html filepath='assets/painting/Keithline_Ruins-09_2024' alt="" %}
      <figcaption><i>Ruins IX</i>: acrylic on wood 8" x 7", 2024</figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc--lg--4">
    <figure class="">
      {% include picture.html filepath='assets/painting/Keithline_Ruins_12-2024' alt="" %}
      <figcaption><i>Ruins XII</i>: acrylic on wood 7" x 5", 2024</figcaption>
    </figure>
  </div>
</div>

<div class="g">
  <div class="gc--md--6 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='assets/painting/breaking-broken-06' alt="" %}
      <figcaption><i>Breaking Broken VI</i></figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc__push--lg--1">
    <figure class="">
      {% include picture.html filepath='assets/painting/Keithline_Stream_2024' alt="" %}
      <figcaption><i>Stream</i>: acrylic on plywood 24" x 48", 2024</figcaption>
    </figure>
  </div>
</div>

{% include_relative subnav-painting.html %}
