---
layout: default
title: 'Forward Seasons | Painting'
description: 'Suspended wire sculptures create shadows whose outlines are traced onto various surfaces, resulting in organic, map-like paintings '
permalink: painting/forward-seasons/
body-class: portfolio-item
meta-image: assets/painting/forward-seasons/woven-gold-diptych-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Forward Seasons</h1>

<section class="g">
  <div class="gc--md--6 gc--lg--5 gc__push--xl--1 gc--xl--4">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/autumn-orange-yellow-gray' alt="" %}
      <figcaption><i>Autumn Orange Yellow Gray</i>, 10 x 8" acrylic 2025 <span class="u__sold">Sold</span></figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc__push--lg--1">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/blue-yellow-box' alt="" %}
      <figcaption><i>Blue & Yellow Box</i>, 36" x 36" acrylic 2025</figcaption>
    </figure>
  </div>
</section>

<section class="g">
  <div class="gc--md--6 gc__push--lg--1 gc--lg--5 gc__push--xl--2 gc--xl--4">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/cliffs' alt="" %}
      <figcaption><i>Cliffs</i>, 8" x 10" acrylic 2025 <span class="u__sold">Sold</span></figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc--lg--5 gc__push--xl--1 gc--xl--4">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/coral-black-green' alt="" %}
      <figcaption><i>Coral & Black Green</i>, 10" x 8" acrylic 2025</figcaption>
    </figure>
  </div>
</section>

<section class="g">
  <div class="gc--md--6">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/mountaintop-on-pink' alt="" %}
      <figcaption><i>Mountaintop On Pink</i>, 36" x 36" acrylic 2025</figcaption>
    </figure>
  </div>
  <div class="gc--md--6 gc__push--lg--1 gc--lg--5">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/pacific-1' alt="" %}
      <figcaption><i>Pacific 1</i>, 16" x 20" acrylic 2025</figcaption>
    </figure>
  </div>
</section>

<section class="g">
  <div class="gc--md--4">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/riverbanks' alt="" %}
      <figcaption><i>Riverbanks</i>, 12" x 12" acrylic 2025</figcaption>
    </figure>
  </div>
  <div class="gc--md--4">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/treeville-II' alt="" %}
      <figcaption><i>Treeville II</i>, 12" x 12" acrylic 2025</figcaption>
    </figure>
  </div>
  <div class="gc--md--4">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/circus-tent' alt="" %}
      <figcaption><i>Circus Tent</i>, 12" x 12" acrylic 2025 <span class="u__sold">Sold</span></figcaption>
    </figure>
  </div>
</section>

<section class="g">
  <div class="gc--lg--10 gc__push--lg--1">
    <figure class="">
      {% include picture.html filepath='assets/painting/forward-seasons/woven-gold-diptych' alt="" %}
      <figcaption><i>Woven Gold Diptych</i>, 24" x 48" acrylic 2025</figcaption>
    </figure>
  </div>
</section>

{% include_relative subnav-painting.html %}
