---
layout: default
title: 'Painting'
description: 'Exploration of sculptural ideas in painting form'
permalink: painting/
body-class: portfolio
---

<header class="g">
  <div class="gc">
    <h1>Painting</h1>
  </div>
</header>

<section class="g">
  <div class="gc--md--10 gc__push--md--1 gc__push--xl--2 gc--xl--8">
    <h2 class="h3"><a href="{% link _painting/forward-seasons.html %}">Forward Seasons</a></h2>
    <a aria-hidden="true" href="{% link _painting/forward-seasons.html %}">
      {% include picture.html filepath='assets/painting/forward-seasons/woven-gold-diptych' alt="" %}
    </a>
  </div>
</section>

<section class="g">
  <div class="gc--md--4 gc--xl--4">
    <h2 class="h3"><a href="{% link _painting/breaking-broken.html %}">Breaking Broken</a></h2>
    <a aria-hidden="true" href="{% link _painting/breaking-broken.html %}">
      {% include picture.html filepath='assets/painting/Keithline_Ruins_12-2024' alt="" %}
    </a>
  </div>
  <div class="gc--md--8 gc__push--xl--1 gc--xl--6">
    <h2 class="h3"><a href="{% link _painting/sculpture-and-shadow.html %}">Sculpture and Shadow</a></h2>
    <a aria-hidden="true" href="{% link _painting/sculpture-and-shadow.html %}">
      {% include picture.html filepath='assets/painting/sky-ground-1-11x9' alt="" %}
    </a>
  </div>
</section>

<section class="g">
  <div class="gc--md--7 gc__push--xl--1 gc--xl--5">
    <h2 class="h3"><a href="{% link _painting/only-strong-survive.html %}">Only The Strong Survive</a></h2>
    <a aria-hidden="true" href="{% link _painting/only-strong-survive.html %}">
      {% include picture.html filepath='assets/painting/oss-bird-02' alt="" %}
    </a>
  </div>
  <div class="gc--md--5 gc__push--xl--1 gc--xl--3">
    <h2 class="h3"><a href="{% link _painting/atmosphere.html %}">Atmosphere</a></h2>
    <a aria-hidden="true" href="{% link _painting/atmosphere.html %}">
      {% include picture.html filepath='assets/painting/atmosphere-03' alt="" %}
    </a>
  </div>
</section>
