---
layout: default
title: 'Painting'
description: 'Exploration of sculptural ideas in painting form'
permalink: painting/
body-class: portfolio
---

<section class="g u__vertical__pt">
  <div class="gc--md--4">
    <h1 class="">Painting</h1>
  </div>
  <div class="gc--md--8">
    <h2 class="h3"><a href="{% link _painting/sculpture-and-shadow.html %}">Sculpture and Shadow</a></h2>
    <a href="{% link _painting/sculpture-and-shadow.html %}">
      {% include picture.html filepath='assets/painting/sky-ground-1-11x9' alt="" %}
    </a>
  </div>
</section>

<section class="g">
  <div class="gc--md--5">
    <h2 class="h3"><a href="{% link _painting/only-strong-survive.html %}">Only The Strong Survive</a></h2>
    <a href="{% link _painting/only-strong-survive.html %}">
      {% include picture.html filepath='assets/painting/oss-bird-02' alt="" %}
    </a>
  </div>
  <div class="gc__push--md--1 gc--md--4">
    <h2 class="h3"><a href="{% link _painting/atmosphere.html %}">Atmosphere</a></h2>
    <a href="{% link _painting/atmosphere.html %}">
      {% include picture.html filepath='assets/painting/atmosphere-03' alt="" %}
    </a>
  </div>
</section>
