---
layout: default
title: 'Only the Strong Survive | Painting'
description: ''
permalink: painting/only-strong-survive/
body-class: portfolio-item
meta-image: assets/painting/oss-bird-02-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Only the Strong Survive</h1>

<section class="c--text">
  <p class="u__text__center">Spray paint on canvas and paper. All paintings 2013. </p>
  <p class="u__text__center u__rhythm">Photographed by Peter Goldberg.</p>
</section>

<div class="g">
  <figure class="gc__push--sm--1 gc--sm--10 gc__push--md--2 gc--md--8 gc__push--lg--3 gc--lg--6">
    {% include picture.html filepath='assets/painting/oss-bird-01' alt="" %}
    <figcaption><i>Bird I</i></figcaption>
  </figure>
</div>

<div class="g">
  <figure class="gc__push--sm--1 gc--sm--10 gc__push--md--2 gc--md--8 gc__push--lg--3 gc--lg--6">
    {% include picture.html filepath='assets/painting/oss-bird-02' alt="" %}
    <figcaption><i>Bird II</i></figcaption>
  </figure>
</div>

<div class="g">
  <figure class="gc__push--sm--1 gc--sm--10 gc__push--md--2 gc--md--8 gc__push--lg--3 gc--lg--6">
    {% include picture.html filepath='assets/painting/oss-bird-03' alt="" %}
    <figcaption><i>Bird III</i></figcaption>
  </figure>
</div>

<div class="g">
  <figure class="gc__push--sm--1 gc--sm--10 gc__push--md--2 gc--md--8 gc__push--lg--3 gc--lg--6">
    {% include picture.html filepath='assets/painting/oss-bird-feet-01' alt="" %}
    <figcaption><i>Bird Feet I</i></figcaption>
  </figure>
</div>

{% include_relative subnav-painting.html %}
