---
layout: default
title: 'Sculpture & Shadow | Painting'
description: 'Suspended wire sculptures create shadows whose outlines are traced onto large sheets of paper, resulting in organic, map-like paintings '
permalink: painting/sculpture-and-shadow/
body-class: portfolio-item
meta-image: /assets/painting/vast-2021-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Sculpture & Shadow</h1>

<section class="c--text">
  <div class="g">
    <div class="gc--md--6">
      <p>In 2019, Keithline exhibited an installation of suspended wire sculptures at the University Art Gallery at UMass Dartmouth. She traced the shadows of the sculptures onto wall mounted 8' x 4' sheets of paper. This exhibit is a further abstraction of this effort, as her traced drawings have been transferred to canvas and painted. At the Jane Gallery, her paintings were featured in the front gallery and a wire sculpture/shadow installation was shown in the back.</p>
    </div>
    <div class="gc--md--6">
      <p>Coupled with the wire installation, the back room featured the music of the <i>New Federal Hillbillies</i>. <i>Jeff Keithline and Friends</i> performed a live, site-specific improvisational music soundscape at the August 21st opening. The group drew inspiration from Elizabeth’s work, as well as the themes of wire, color, and movement to create a sonic backdrop for the evening. </p>
    </div>
  </div>
</section>

<div class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/sky-ground-1-11x9' alt="" %}
    <figcaption><i>Sky Ground 1</i>, 11 x 9'</figcaption>
  </figure>
</div>

<div class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/sky-ground-3-12x9' alt="" %}
    <figcaption><i>Sky Ground 3</i>, 12 x 9'</figcaption>
  </figure>
</div>

<div class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/sky-ground-4-14x12' alt="" %}
    <figcaption><i>Sky Ground 4</i>, 14 x 12'</figcaption>
  </figure>
</div>

<div class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/water-sky-14x12' alt="" %}
    <figcaption><i>Water Sky</i>, 14 x 12'</figcaption>
  </figure>
</div>

<div class="g">
  <figure class="gc__push--md--2 gc--md--8 gc__push--lg--3 gc--lg--6">
    {% include picture.html filepath='/assets/painting/down-the-mountainside' alt="" %}
    <figcaption><i>Down the Mountainside</i>, 11 x 14'</figcaption>
  </figure>
</div>

<div class="g">
  <figure class="gc__push--md--2 gc--md--8 gc__push--lg--3 gc--lg--6">
    {% include picture.html filepath='/assets/painting/mountain-ground-2' alt="" %}
    <figcaption><i>Mountain Ground II</i>, 9 x 12'</figcaption>
  </figure>
</div>

<div class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/vast-2021' alt="" %}
    <figcaption><i>Vast 2021</i>, 12 x 9'</figcaption>
  </figure>
</div>

{% include_relative subnav-painting.html %}
