---
layout: default
title: 'Sculpture & Shadow | Painting'
description: 'Suspended wire sculptures create shadows whose outlines are traced onto large sheets of paper, resulting in organic, map-like paintings '
permalink: painting/sculpture-and-shadow/
body-class: portfolio-item
meta-image: /assets/painting/vast-2021-lg.jpg
---

<h1 class="u__text__center--md u__rhythm">Sculpture & Shadow</h1>

<section class="c--text">
  <div class="g">
    <div class="gc--md--6">
      <p>In 2019, under the auspices of curator Viera Leavitt, Keithline suspended a series of wire sculptures in the University Art Gallery at UMass Dartmouth. The abstract shapes created a playful “memory” of skeletal wire beams and rafters. Light passed through the wire mesh to create organic, lacy “drawings” that were ever-changing, creating a playful, yet disorienting feeling. Viewers were invited to move through the gallery, gently pushing the lightweight, durable sculptures and tracing their shadows in pencil on sheets of paper.</p>
    </div>
    <div class="gc--md--6">
      <p>In 2021, working with curator Jen Hicks at Jane Street Art Center in Saugerties, New York, Keithline exhibited traced, painted 8' x 4' banners as well as smaller works. She also created a room-sized installation of wire formations and again invited members of the public to trace the shadows, creating drawings to either take home or to leave on exhibit for the duration.</p>
    </div>
  </div>
</section>

<section class="g">
  <div class="gc gc--md--7">
    <figure>
      {% include picture.html filepath='/assets/painting/shadow-hands' alt="" %}
      <figcaption>Shadow play during the show opening</figcaption>
    </figure>
  </div>
  <div class="gc gc--md--5">
    <div class="ar" style="aspect-ratio: 1080 / 1920">
      <video class="video" controls="" preload="auto" width="1080">
        <source src="{% link /assets/media/ada-shadows-play.mp4 %}" type="video/mp4">
        <p>Sorry! Your browser does not support the HTML5 video tag. <a href="{% link /assets/media/ada-shadows-play.mp4 %}" download>You may download the MP4 video</a> and try to play it using a native player for your operating system.</p>
      </video>
    </div>
  </div>
</section>

<section class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/sky-ground-1-11x9' alt="" %}
    <figcaption><i>Sky Ground 1</i>, 11 x 9"</figcaption>
  </figure>
</section>

<section class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/sky-ground-3-12x9' alt="" %}
    <figcaption><i>Sky Ground 3</i>, 12 x 9"</figcaption>
  </figure>
</section>

<section class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/sky-ground-4-14x12' alt="" %}
    <figcaption><i>Sky Ground 4</i>, 14 x 12"</figcaption>
  </figure>
</section>

<section class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/water-sky-14x12' alt="" %}
    <figcaption><i>Water Sky</i>, 14 x 12"</figcaption>
  </figure>
</section>

<section class="g">
  <figure class="gc__push--md--2 gc--md--8 gc__push--lg--3 gc--lg--6">
    {% include picture.html filepath='/assets/painting/down-the-mountainside' alt="" %}
    <figcaption><i>Down the Mountainside</i>, 11 x 14"</figcaption>
  </figure>
</section>

<section class="g">
  <figure class="gc__push--md--2 gc--md--8 gc__push--lg--3 gc--lg--6">
    {% include picture.html filepath='/assets/painting/mountain-ground-2' alt="" %}
    <figcaption><i>Mountain Ground II</i>, 9 x 12"</figcaption>
  </figure>
</section>

<section class="g">
  <figure class="gc__push--md--1 gc--md--10 gc__push--lg--2 gc--lg--8">
    {% include picture.html filepath='/assets/painting/vast-2021' alt="" %}
    <figcaption><i>Vast 2021</i>, 12 x 9"</figcaption>
  </figure>
</section>

<section class="c--text">
  <div class="g">
    <div class="gc">
      <h2 class="h3">Press</h2>
      <p class="u__rhythm"><strong>An interview on WKZE Radio 98.1 FM</strong> — Listen to Liz talk to WKZE radio hosts about the new Shadow Paintings show that hung at 11 Jane Street in August and September of 2021. </p>
      <audio controls src="{% link assets/media/ELIZABETH-KEITHLINE-phone-interview-08-24-21.mp3 %}">
        <p>We’re sorry, your browser does not support the <code>audio</code> element. You may download this file and play it on your computer with a native audio player application that supports the MP3 file format.</p>
      </audio>
    </div>
  </div>
</section>

{% include_relative subnav-painting.html %}
